<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://serika.dev/SerikaStreaming" version="1.0.0" viewmodes="maximized">
    <access origin="https://streaming.serika.dev" subdomains="true"></access>
    <access origin="https://streaming.ado.wtf" subdomains="true"></access>
    <access origin="*" subdomains="true"></access>
    <tizen:application id="SerikaDev1.SerikaStreaming" package="SerikaDev1" required_version="6.0"/>
    <author href="https://streaming.serika.dev" email="support@serika.dev">The Serika Company</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal"/>
    <icon src="icon.png"/>
    <license href="https://github.com/serika-dev/SerikaStreaming-SamsungTV/blob/master/LICENSE">The Serika License</license>
    <tizen:metadata key="http://samsung.com/tv/metadata/use.network" value="network"/>
    <name>Serika Streaming</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://tizen.org/privilege/unlimitedstorage"/>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="enable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
